.popup {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*ventana condirmacion de borrado de card*/
#popupdeletecard {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/*Ventana emergente imagen perfil*/
#avatar {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/*Formulario 1*/
#overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/*Formulario 2*/
#overlayadd {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.popup__container {
  position: relative;
  width: 30%;
  min-width: 250px;
  background-color: white;
  border-radius: 8px;
}

.popup__title {
  color: black;
  padding: 20px 20px 0 20px;
  margin: 0;
}

.popup__form {
  padding: 20px;
}

.popup__input {
  width: 93%;
  margin-bottom: 10px;
  padding: 9px;
  font-size: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.popup__error {
  color: red;
  word-break: break-all;
}

.popup__input:focus-visible {
  border: none;
  outline: none;
  border-bottom: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.popup__input:valid {
  border-bottom: 1px solid green;
}

.popup__input:invalid {
  border-bottom: 1px solid red;
  outline: none;
}

.popup__fieldset {
  background-color: white;
  border: none;
  padding: 0;
}

.popup__button-save {
  margin-top: 10px;
  width: 98%;
  padding: 10px;
  background-color: black;
  color: white;
}

.popup__button-save:hover {
  opacity: 50%;
}

.popup__button-save:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.popup__button-save:valid {
  background-color: black;
}

.popup__button-close {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 40px;
  position: absolute;
  top: -42px;
  right: 0;
}

.popup__button-close:hover {
  opacity: 50%;
}

/*ventana emergente*/

#popupwindow {
  width: 100%;
  padding: 0;
  border-radius: 0;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popup__image {
  background-color: transparent;
  max-width: 75vh;
  max-height: 75vh;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.popup__text {
  color: white;
  max-width: 433px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .popup__container {
    width: 40%;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    #overlay {
      flex-direction: column;
    }
    .popup__container {
      width: 90%;
    }

    .popup__image {
      max-width: 45vh;
      max-height: 45vh;
    }
  }
}
